@font-face {
  font-family: 'icoglider';
  src:  url('fonts/icoglider.eot?w1lqiv');
  src:  url('fonts/icoglider.eot?w1lqiv#iefix') format('embedded-opentype'),
    url('fonts/icoglider.ttf?w1lqiv') format('truetype'),
    url('fonts/icoglider.woff?w1lqiv') format('woff'),
    url('fonts/icoglider.svg?w1lqiv#icoglider') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icoglider' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_glider:before {
  content: "\47";
  color: #18a538;
}
.icon-icon_para:before {
  content: "\50";
  color: #e20613;
}
